graphical
lang zh_CN.UTF-8
keyboard --vckeymap=us --xlayouts='cn'
timezone Asia/Shanghai
services --enabled="chronyd"

firewall --disabled
selinux --disabled

authconfig --enableshadow --passalgo=sha512
rootpw --plaintext Almalinux

skipx
ignoredisk --only-use=sda
clearpart --all --initlabel

part /boot --fstype="ext4" --ondisk=sda --size=1024
part / --fstype="ext4" --ondisk=sda  --grow --size=1


firstboot --disabled
reboot

%packages
@core
socat
conntrack
ebtables
ipvsadm
ipset
wget
bind-utils
bash-completion
iproute-tc
python3
lvm2
vim
dstat
nc
sysstat
%end

%post
# sed -i "s/#PubkeyAuthentication yes/PubkeyAuthentication yes/g" > /etc/ssh/sshd_config
%end
